input {
	-webkit-appearance: none;
	border: 1px solid #e31936;
	height: 40px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	outline: none;
	text-align: center;
	color: #e31936;
}
input[type="submit"]{
	background-color: #e31936;
	color: #fff;
	border: 0px;
}
::-webkit-input-placeholder {
   color: #e31936;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e31936;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e31936;  
}

:-ms-input-placeholder {  
   color: #e31936;  
}

.header img{
			width: 100%;
		}
		.wrapper{
			padding: 0 30px;
		}
		/*#slides {
     display: none;
    }*/
    .main{
			/*margin-top: -120px;*/
		}
.main.success{
	margin-top: -180px;
}
.success img{
	width: 100%;
	margin-top: 20px;
}
.main{
	/*padding: 20px;*/
}
.success-button img{
	width: 100%;
}
.main.more{
	padding: 20px;
}
.main.more img{
	width: 100%;
}
.main.more p{
	color: #676767;
	margin-top: 20px;
}
.wrapper-more.second{
	margin-top: 20px;

}
.know-more{
	color: #e31936;
	text-decoration: underline;
	padding-bottom: 20px;
}
.signup{
	color: #FF4FAB;
	padding-bottom: 20px;
}